# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely need to edit after that.
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'jekyll serve'. If you change this file, please restart the server process.

# Site settings
title: ShineYourEye
email: your-email@domain.com
description: > # this means to ignore newlines until "baseurl:"
  Write an awesome description for your new site here. You can edit this
  line in _config.yml. It will appear in your document head meta (for
  Google search results) and in your feed.xml site description.
baseurl: "" # the subpath of your site, e.g. /blog
twitter_username: NGShineyoureye

# Build settings
markdown: kramdown
permalink: /blog/:title/
exclude: [Gemfile, Gemfile.lock, vendor, README.md, config.rb]

everypolitician:
  sources:
    assembly: https://github.com/everypolitician/everypolitician-data/raw/master/data/Nigeria/Assembly/ep-popolo-v1.0.json
    senate: https://github.com/everypolitician/everypolitician-data/raw/nigeria-senate/data/Nigeria/Senate/ep-popolo-v1.0.json

collections:
  # Assembly
  assembly_people:
    output: true
    permalink: '/assembly/person/:path/'
  assembly_organizations:
    output: true
    permalink: '/assembly/organisation/:path/'
  assembly_areas:
    output: true
    permalink: '/assembly/place/:path/'

defaults:
  - scope:
      path: "info"
    values:
      breadcrumbs:
        - Information
  - scope:
      path: "blog"
    values:
      breadcrumbs:
        - <a href="/blog">Blog</a>
