<footer id="site-footer">
  <div class="wrapper">

    <div id="footer-menu" class="footer-section">
      <h4>ShineYourEye</h4>
      <ul class="nav">

        <li><a href="/">Home</a></li>


        <li><a href="/info/democracy-resources">Democracy Resources</a></li>

        <li><a href="/info/elections">Elections</a>

        </li>

        <li><a href="/info/government-officials">Government Officials</a>

        </li>


        <li><a href="/info/places-overview">Places</a>

        </li>


        <li><a href="/info/events">Events</a></li>


        <li><a href="/blog/">Blog</a></li>


        <li><a href="/info/about">About</a></li>


      </ul>
    </div>

    <div class="footer-section">
      <h4>About</h4>
      <ul class="utilities">
        <li><a href="/info/policies">Privacy</a></li>
        <li><a href="/feedback/?url=http://www.shineyoureye.org/" class="feedback_link">Give us feedback</a></li>
      </ul>
    </div>

  </div>

  <div class="attribution">
    <p>This site runs on <a href="https://github.com/theyworkforyou/shineyoureye">open source code</a> written by <a href="http://www.mysociety.org">mySociety</a>.</p>
  </div>
</footer>
