<head>
  <meta charset="utf-8">
  <title>
    Home :: ShineYourEye
  </title>

  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
  <meta http-equiv="cleartype" content="on">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <link href="//platform.twitter.com" rel="dns-prefetch" />
  <!--[if IE 9]>
    <link href="http://platform.twitter.com/" rel="prefetch" />
  <![endif]-->

  <link href="{{ "/static/css/nigeria.12dc48334454.css" | prepend:site.url }}" rel="stylesheet" type="text/css" />

  <!-- sort out what to do about about carousel -->
  <link rel="stylesheet" type="text/css" href="{{ "/static/css/libs/responsive-carousel.073709d17cd8.css" | prepend:site.url }}" />

  <!--[if (lt IE 9) & (!IEMobile)]>
    <script type="text/javascript" src="/static/js/libs/respond.1.0.1.min.a23cf0899a72.js"></script>
  <![endif]-->

  <link rel="icon" type="image/png" href="{{ "/static/images/favicon.9f777b3582fc.png" | prepend:site.url }}">
</head>
