<div id="main-menu">
  <nav class="wrapper">
    <ul>



      <li><a href="{{ site.url }}{{ site.baseurl }}/">Home</a></li>


      <li><a href="{{ site.url }}{{ site.baseurl }}/info/democracy-resources">Democracy Resources</a></li>

      <li><a href="{{ site.url }}{{ site.baseurl }}/info/elections">Elections</a>

        <ul id="elections">
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/info/inec-2014-voter-registration-and-pvc-distribution">Voting Information</a>
          </li>
        </ul>

      </li>

      <li><a href="{{ site.url }}{{ site.baseurl }}/info/government-officials">Government Officials</a>

        <ul id="government-officials">
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/position/senator/">Senators</a>
          </li>
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/position/representative/">Representatives</a>
          </li>

          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/position/executive-governor/">Governors</a>
          </li>
          {% comment %}
          <!-- Hide these for now as we don't have the necessary info in EveryPolitician -->
          <li>
            <a href="{{ site.url }}{{ site.baseurl }}/position/state-legislator/">State Legislators</a>
          </li>
          {% endcomment %}

        </ul>

      </li>


      <li><a href="{{ site.url }}{{ site.baseurl }}/info/places-overview">Places</a></li>


      <li><a href="{{ site.url }}{{ site.baseurl }}/info/events">Events</a></li>


      <li><a href="{{ site.url }}{{ site.baseurl }}/blog/">Blog</a></li>


      <li><a href="{{ site.url }}{{ site.baseurl }}/info/about">About</a></li>


    </ul>
  </nav>
</div>
