---
layout: default
permalink: /position/executive-governor/
title: Executive Governor
---

<h1 class="page-title">Executive Governor</h1>

<ul class="position-listing">
  {% for person in site.executive_governors | sort: "name" %}
  <li class="position">
    <a href="{{ person.url }}">
      <div class="position-image-wrapper">
        {% if person.image %}
        <img src="{{ person.image }}" alt="{{ person.name }}" width="50">
        {% else %}
        <img src="/images/person-210x210.jpg" alt="{{ person.name }}" width="50">
        {% endif %}
      </div>
      <span class="name">{{ person.name }}</span>
    </a>

    <p>Executive Governor for {{ person.area }}</p>
  </li>
  {% endfor %}
</ul>
